<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Page One</h1>
    <p> {{message}}</p>
    <p ng-show="person">Hello {{person.first}}  {{person.last}}</p>
    <p>
        Department of Computer Science of Christ University strives to shape outstanding computer professionals with ethical and human values to reshape nation’s destiny. The training imparted aims to prepare young minds for the challenging opportunities in the IT industry with a global awareness rooted in the Indian soil, nourished and supported by experts in the field.
        
    </p>
</body>
</html>