<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Page Two</h1>
    <p>
        Centre for Social Action (CSA), is a 'Students Movement for a Humane and Just Society' where student communities are sensitized on various issues affecting the poor and the marginalized sections of society. Established in 1999, CSA works towards promoting the value of social responsibility amongst the student community. With the support of volunteers, faculty and full time development professionals, CSA is strongly engaged in addressing issues related to child rights, socio-economic development of women, youths and farmers, livelihood, community mobilization and environment/climate change issues.
    </p>
</body>
</html>